/* general rules */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif
}

.container{
  margin-left: 10%;
  margin-right: 10%;
}

/* clearfix */
.row::after{
  content: "";
  display: table;
  clear: both;
  margin: 10%;
}

/* regole header */
header{
  padding-top: 10px;
  position: relative;
  background-color: rgba(14, 44, 80, 1);
  height: 450px;
}

#site-logo{
  width: 14%;
  padding-top: 1%;
  padding-right: 5%;
  vertical-align: middle;
}

#mainnav{
width: 80%;
padding-top: 1%;
display: inline-block;
}

.navleft{
vertical-align: bottom;
}

nav li a{
text-decoration: none;
list-style-type: none;
color: #fff;
}

nav li{
  display: inline-block;
  text-transform: uppercase;
  padding: 5px;
  font-size: 14px;
}


.imgheader{
  background-image: url("../img/background-header.png");
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 64%;
  height: 76%;
  bottom: 0;
  right: 0;
}

h1{
  margin-top: 6%;
  margin-bottom: 3%;
  font-size: 30px;
  width: 40%;
  font-weight: 400;
  color: #fff;
}

#empty-button{
  background-color: inherit;
  padding: 10px 35px;
  border: 1px solid #fff;
}

#button-nav-right{
  padding: 10px 8px;
  margin-left: 5px;
}

#button-under-title{
  border: none;
}

/* buttons */
button{
  background-color: inherit;
  background-color: rgb(113, 178, 1);
  color: #fff;
  padding: 20px 35px;
  border: 1px solid #fff;
  border-radius: 10px;
}

/* main rules */
.row{
  /* background-color: red; */
}


.title.main{
  background-color: rgba(205, 205, 205, 1);
  height: 150px;
  margin-bottom: 5%;
  text-align: center;
  line-height: 30px;

}

#title-grey{
  font-weight: 600;
  font-size: 20px;
  padding: 40px 0 7px 0;

}

#subtitle-grey{
  font-weight: normal;
  font-size: 14px;
  padding-bottom: 35px;
  color: rgb(117, 117, 117);

}

.block{
  float: left;
}

/* ------------------------------------------------------------- */
/* first row yellow 40(30+10)*/
.block.first{
  height: 200px;
  width: 30%;
  /* background-color: yellow; */
}

#img-left{
  width: 200px;
  height: 200px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#img-center{
  width: 250px;
  height: 250px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#img-right{
  width: 200px;
  height: 200px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.block.central{
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 250px;
}

.divider{
  border: 1px solid grey;
  margin: 30px 175px;
}

p{
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 40px;
  color: rgb(117, 117, 117);
}

h3{
  font-size: 28px;
  padding: 35px 0 7px 0;
  text-align: center;
  color: rgb(113, 178, 1);
}

/* central divider */
#main-divider{
  margin: 0px -11% 10% -11%;
}

/* second row blue 60(40+20)*/
.block.second{
  /* height: 200px; */
  width: 40%;
  /* background-color: blue; */
}

.block.second.left{
  margin-right: 20%;
  width: 600px;
  height: 400px;
}

.block.second.right{
  font-size: 25px;
  padding: 0px 130px 0px 0px;

}

#sub-calltoaction{
  text-align: left;
  margin-top: 10px;
}

/* footer rules */
footer{
  background-color: rgb(205, 205, 205);
  height: 100px;
}
