/* general rules */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif
}

.container{
  margin-left: 10%;
  margin-right: 10%;
}

/* clearfix */
.row::after{
  content: "";
  display: table;
  clear: both;
  margin: 10%;
}

/* regole header */
header{
  padding-top: 10px;
  position: relative;
  background-color: rgba(14, 44, 80, 1);
  height: 450px;
}

#site-logo{
  width: 14%;
  padding-top: 1%;
  padding-right: 5%;
  vertical-align: middle;
}

#mainnav{
width: 80%;
padding-top: 1%;
display: inline-block;
vertical-align: middle;
}

.navleft{}
nav li a{
text-decoration: none;
list-style-type: none;
color: #fff;
}

nav li{
  display: inline-block;
  text-transform: uppercase;
  padding: 5px;
  font-size: 14px;
}

.imgheader{
  background-image: url("../img/background-header.png");
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 64%;
  height: 76%;
  bottom: 0;
  right: 0;
}

h1{
  margin-top: 3%;
  margin-bottom: 3%;
  font-size: 30px;
  width: 40%;
  font-weight: 400;
  color: #fff;
}

/* buttons */
button{
  background-color: inherit;
  background-color: rgb(113, 178, 1);
  color: #fff;
  padding: 20px 35px;
  border: 1px solid #fff;
  border-radius: 10px;
}

/* main rules */
.row{
  background-color: red;
}


.title.main{
  background-color: rgba(205, 205, 205, 1);
  height: 100px;
  margin-bottom: 5%;
  text-align: center;
}

.block{
  float: left;
}

/* ------------------------------------------------------------- */
/* first row yellow 40(30+10)*/
.block.first{
  height: 200px;
  width: 30%;
  background-color: yellow;
}

.block.central{
  margin-left: 5%;
  margin-right: 5%;
}

/* -------------------------------------------------------------- */
/* second row blue 60(40+20)*/
.block.second{
  height: 200px;
  width: 40%;
  background-color: blue;
}

.block.second.left{
  margin-right: 20%;
}

hr{
  margin:0 3% 10% 3%;
}

/* ---------------------------------------------------------------- */
/* footer rules */
footer{
  background-color: rgb(205, 205, 205);
  height: 100px;
}
